<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, class: "form-control", rows: 20 %>
  </div>
  <div class="field">
    <%= f.label :approved_comments_count %><br>
    <%= f.number_field :approved_comments_count, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%#= f.select :cached_category_list, category_list.collect { |cat| [cat.name, cat.id] }, class: "form-control" %>
    <select class="form-control" name="article[cached_category_list]">
      <% category_list.each do |cat| -%>
        <option value="<%= cat.id %>"><%= cat.name %></option> 
      <% end -%>
    </select>  
  </div>
  <div class="field">
    <%= f.label :tag_list %><strong> (Seperate by &quot&#59")</strong><br>
    <%= f.text_field :cached_tag_list, class: "form-control" %>
  </div>
  <br>
  <div class="btn-group">
    <%= f.submit class: "btn btn-primary btn-sm active" %>
    <%= link_to 'Back', articles_path, class: "btn btn-primary btn-sm active pull-right" %>
  </div>
<% end %>
