<div class="content">
  <% if flash[:notice] -%>
    <div class="notice"><%= flash[:notice] %></div>
  <% end -%>

  <ul class="list-group">
  <li class="list-group-item"><h3><%= @article.title %></h3>
  <span class="text-info"><%= @article.updated_at.strftime("%b %-d %Y %H:%M:%S") %></span>
  <div class="pull-right"><% @article.cached_tag_list.split(";").each do |tag| -%>
    <span class="label label-info"><%= tag%></span>
  <% end -%></div>
  <p><%= markdown(@article.body) %></p></li>
  
  <li class="list-group-item">
    <%= link_to_if (user_signed_in? ? (@article.user_id.to_i == current_user.id.to_i) : false), 'Edit', edit_article_path(@article) %>
    <span class="pull-right"><button id='favorite'>favorite</button></span>
  </li></ul>

  <%= render "comments/comment" %>

  
  <ul class="list-group">
  <li class="list-group-item">Add a comment: </li>
  <li class="list-group-item">
  <%= form_for([@article, @article.comments.build], remote: true) do |f| %>
    <input type="hidden" name="comment[main_comment_id]" id="comment_id"></input>
    <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :author, class: "form-control" %>
    </p><p>
    <%= f.label :body %><br>
    <%= f.text_area :body, class: "form-control", id: "comment_body" %>
    </p><p>
    <%= f.submit class: "btn btn-primary btn-sm active" %>
    </p>
  <% end %>
  </li>

</div>

<script>
  $("#favorite").click(function(){
    $.post("http://localhost:3000/favorite",
    {
      user_id: <%= current_user.try(:id) %>, 
      article_id: <%= @article.id %>
    },
    function(data,status){
      alert(data);
      $("#favorite").val(data);
    });
  });
</script>
