<div class="content">
  <% if flash[:notice] -%>
    <div class="notice"><%= flash[:notice] %></div>
  <% end -%>

  <ul class="list-group">
  <li class="list-group-item"><h3><%= @article.title %></h3>
  <span class="text-info"><%= @article.updated_at.strftime("%b %-d %Y %H:%M:%S") %></span>
  <div class="pull-right"><% @article.cached_tag_list.split(";").each do |tag| -%>
    <span class="label label-info"><%= tag%></span>
  <% end -%></div>
  <p><%= markdown(@article.body) %></p>  

  <div class="pull-right">
    <%= link_to 'Edit', edit_article_path(@article) %>
    <%#= link_to 'Back', articles_path %>  
  </div>
  </li></ul>

  <%= render "comments/comment" %>

  
  <ul class="list-group">
  <li class="list-group-item">Add a comment: </li>
  <li class="list-group-item">
  <%= form_for([@article, @article.comments.build], remote: true) do |f| %>
    <input type="hidden" name="comment[main_comment_id]" id="comment_id"></input>
    <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :author, class: "form-control" %>
    </p><p>
    <%= f.label :body %><br>
    <%= f.text_area :body, class: "form-control", id: "comment_body" %>
    </p><p>
    <%= f.submit class: "btn btn-primary btn-sm active" %>
    </p>
  <% end %>
  </li>

  
</div>
