<div class="content">
  <% if flash[:notice] -%>
    <div class="notice"><%= flash[:notice] %></div>
  <% end -%>

  <ul class="list-group">
  <li class="list-group-item"><h3><%= @article.title %></h3>
  <span class="text-info"><%= @article.updated_at.strftime("%b %-d %Y %H:%M:%S") %></span>
  <div class="pull-right"><% @article.cached_tag_list.split(";").each do |tag| -%>
    <span class="label label-info"><%= tag%></span>
  <% end -%></div>
  <p><%= markdown(@article.body) %></p>  

  <div class="pull-right">
    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Back', articles_path %>  
  </div>
  </li></ul>

  <ul id="comments" class="list-group">
  <li class="list-group-item">Total <%= pluralize(@article.comments.size, "comment") %>: </li>
  <% @article.comments.sort.each_index do |index| %>
    <li class="list-group-item">
      <span style="color:blue;"><%= @article.comments[index].author %></span> &#183 
      <span style="color:green;"><%= "##{index + 1}" %></span> &#183 
      <%= time_diff(@article.comments[index].created_at) %>
      <a class="pull-right" href="javascript:void(0);" onclick="reply(&quot;<%= @article.comments[index].author %>&quot;, &quot;<%= @article.comments[index].id %>&quot;)">Reply</a><br>
    <%= @article.comments[index].body %></li>
  <% end %>
  </ul>

  
  <ul class="list-group">
  <li class="list-group-item">Add a comment: </li>
  <li class="list-group-item">
  <%= form_for([@article, @article.comments.build], remote: true) do |f| %>
    <input type="hidden" name="comment[id]" id="comment_id"></input>
    <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :author, class: "form-control" %>
    </p><p>
    <%= f.label :body %><br>
    <%= f.text_area :body, class: "form-control", id: "comment_body" %>
    </p><p>
    <%= f.submit class: "btn btn-primary btn-sm active" %>
    </p>
  <% end %>
  </li>

  
</div>
