<h2 class="form-signin-heading">Please sign in</h2>

<%#= form_tag("/users", method: 'create') do %>
<%= form_for :user do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, id: "inputEmail" %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  
  <div class="field">
    <%= f.check_box :remember_me %>
    <%= f.label 'Remeber Me?' %>
  </div>

  <div class="actions"><%= f.submit 'Sign In' %></div>

<% end %>
