<h1>Sign In</h1>

<%#= form_tag("/users", method: 'create') do %>
<%= form_for :user do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  
  <div class="field">
    <%= f.label 'Remeber Me?' %><br>
    <%= f.check_box :remember_me %>
  </div>

  <div class="actions"><%= f.submit %></div>
<% end %>
